extends layout.pug

block content
    if products
        .productOuter
            - var n = 1
            each product in products
                div(class="productDiv"+n)
                    h3=product.title
                    p=product.desc
                    img(src=`/uploads/${product.image}` alt="Image")
                    p=product.price
                    .buttonsDiv
                        button(class="addToCart"+n++) Add To Cart
                        a(href=`/shop/product/${product.id}`) Details

    else
        h3 There are no products at the moment