extends layout.pug

block content
    if products
        .productOuter
            - var n = 1
            each product in products
                div(class="productDiv"+n)
                    h3=product.title
                    p#descP=product.description
                    img(src=`/${product.imageUrl}` alt="Image")
                    p#priceP=product.price
                    .buttonsDiv
                        if isAuth
                            button(class="addToCart"+n++) Add To Cart
                            input(type="hidden" id="hidden" name="_csrf" value=`${csrfToken}`)
                        a(href=`/shop/product/${product._id}`) Details

    else
        h3 There are no products at the moment